* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.select-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box; padding: 10px;
}

.select-container > * {
    width: 50%
}

.wrapperForList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    border: 3px solid black;
    background-color: lightblue;
}

.drop-downs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.drop-downs > * {
    flex: 1;
  }

select {
    font-size: large;
    padding: 5px 5px;
    margin: 10px 10px;
    border-radius: 2px;
}

#fileForm > input[type="submit"]:hover {
    cursor: pointer;
}

select:hover, #fileForm > input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
    transition: ease-in-out 0.2s;
}

#fileForm > input[type="submit"] {
    border: 1px solid black;
    border-radius: 3px;
}

#fileForm {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; padding: 10px;
    /* width: 50%; */
}

.fileFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

ul {
    list-style: square;
    margin: 0;
    padding: 5;
    word-wrap: break-word;
    overflow-x: auto;
    list-style-type: square;
  }

  li {
    margin: 0;
    padding: 0;
    text-align: left;
    padding: 10px 0;
    white-space: normal;
  }

#fileForm > input {
    font-size: large;
    border-radius: 5px;
    padding: 5px 5px;
}

/* Button styling from: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_button_css */
#button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
